<div class="experienceEditForm modal-lg" id="content">
    <div class="form-header">
        <h4 class="form-title" id="form-basic-title">Experience Edit Form</h4>
        <a role="button" class="btn-close-modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <fa-icon [icon]="['fas' , 'close']"></fa-icon>
        </a>
    </div>
    <div id="experience-form-body">
        <form [formGroup]="experienceEditForm">
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group-picture">
                        <picture>
                            <img id="picture" [src]="img" *ngIf="img" (click)="pictureUpload()" [class.border-danger]="companyValid">
                        </picture>
                        <input formControlName="logo" id="logo" type="file" formControlName="logo" (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="col-lg-9 input-group-company">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--- EXPERIENCE NAME --->
                            <div class="input-group-company-name mb-2">
                                <label class="me-2" for="company">Company:</label>
                                <input formControlName="company" type="text" class="input"
                                    placeholder="Company's name" formControlName="company" required
                                    [class.border-danger]="companyValid">
                                <div *ngIf="company?.errors && company?.touched">
                                    <p *ngIf="company?.hasError('required')" class="error">
                                        Please type Company's name.
                                    </p>
                                    <p *ngIf="company?.errors?.minlength" class="error">
                                        Company's name should have 4 characters or more.
                                    </p>
                                </div>
                            </div>
                            <!---- EXPERIENCE DATE ---->
                            <div class="input-group-date mb-2">
                                <label class="me-2" for="from">From:</label>
                                <input formControlName="from" type="date" class="input me-4" placeholder=" "
                                    formControlName="from" required [class.border-danger]="companyValid">
                                <label class="me-2" for="to">to:</label>
                                <input formControlName="to" type="date" class="input" placeholder=" "
                                    formControlName="to" required [class.border-danger]="companyValid">
                            </div>
                            <!---- EXPERIENCE POSITION ---->
                            <div class=" input-group-position mb-2">
                                <label class="me-2" for="position">Position/Department:</label>
                                <input formControlName="position" type="text" class="input" placeholder=" "
                                    formControlName="position" required [class.border-danger]="companyValid">
                            </div>
                        </div>
                    </div>
                    <!--- EXPERIENCE DESCRIPTION --->
                    <div class="row input-group-description ">
                        <div class="col-lg-12">
                            <label class="me-2" for="description">Description:</label>
                            <input formControlName="description" type="text" class="input" placeholder=" "
                                formControlName="description" required maxlength="1000" autosize
                                [class.border-danger]="companyValid">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel-btn mb-2 me-2" (click)="activeModal.close()">Cancel</button>
        <button type="submit" class="btn save-btn mb-2 me-2" (click)="onSubmit()">Save</button>
    </div>
</div>
