<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="contact-card card d-none d-md-block">
          <div class="contact-card-body">
            <div id="contact-card-logo">
              <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            </div>
            <h5 class="contact-card-title">Get in Touch!</h5>
            <p class="contact-card-text">You can reach out by pressing the correct
              button below. Choose wisely.</p>
            <div class="contact-card-buttons">
              <ul>
                <li>
                  <a href="#" role="button" class="btn contact-card-button card-button-filled">Let's do it!</a>
                </li>
                <li>
                  <a href="#" role="button" class="btn contact-card-button card-button-outline">Don't be shy;)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="usefulinks-card">
          <div class="usefulinks-card-body">
            <h5 class="usefulinks-card-title">Useful Links:</h5>
            <ul class="usefulinks-card-links">
              <li>
                <a role="button" (click)="scrollTop()">
                  <span>Scroll back top</span>
                </a>
              </li>
              <li>
                <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <span>Home</span>
                </a>
              </li>
              <li>
                <a routerLink="experience" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <span>Experience</span>
                </a>
              </li>
              <li>
                <a href="#" routerLinkActive="active">
                  <span>Education</span>
                </a>
              </li>
              <li>
                <a href="#" routerLinkActive="active">
                  <span>Skills</span>
                </a>
              </li>
              <li>
                <a href="#" routerLinkActive="active">
                  <span>Projects</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="socialmedia-card">
          <div class="socialmedia-card-body">
            <h5 class="socialmedia-card-title">Follow me</h5>
            <ul class="socialmedia-card-buttons">
              <li>
                <a class="socialmedia-card-button-svg btn" role="button" href="#">
                  <fa-icon [icon]="['fab', 'github']"></fa-icon>
                </a>
              </li>
              <li>
                <a class="socialmedia-card-button-svg btn" role="button" href="#">
                  <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </a>
              </li>
              <li>
                <a class="socialmedia-card-button-svg btn" role="button" href="#">
                  <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                </a>
              </li>
              <li>
                <a class="socialmedia-card-button-svg btn" role="button" href="#">
                  <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                </a>
              </li>
            </ul>
            <p class="socialmedia-card-text">Thanks for your visit! Hope you enjoyed.</p>
          </div>
          <div class="socialmedia-card-footer">
            <p class="socialmedia-card-footer-text">copyright © 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>