<section class="experience">
    <!--- EXPERIENCE --->
    <div class="container">
        <div class="row section-title h1" style="display: flex; flex-direction: row;">
            <div class="col-lg-12" style="display: flex; flex-direction: column;">
                <div class="title"
                    style="display: flex ; position: relative; text-align: center; width: 100%; align-content: center; align-items: center;">
                    <span style="width: 100%;">
                        <b>EXPERIENCE</b>
                    </span>
                    <!--- EXPERIENCE ADD BUTTON --->
                    <app-edit-button type="edit-box" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                        figure="add"></app-edit-button>
                </div>
                <!--- BLUE LINE --->
                <div class="after"></div>
            </div>
        </div>
        <!--- EXPERIENCE ADD FORM --->
        <div class="experienceAddForm" id="content" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="form-header">
                <h4 class="form-title" id="form-basic-title">Experience Registration Form</h4>
            </div>
            <div class="form-body">
                <form [formGroup]="experienceForm">
                    <div class="row">
                        <div class="col-lg-3" style="display: flex;">
                            <div class="form-control picture">
                                <picture>
                                    <img id="picture" src="./assets/images/profilepicture.jpg">
                                </picture>
                                <input id="logo" type="file" formControlName="logo" placeholder="Photo">
                            </div>
                        </div>
                        <div class="input-group col-lg">
                            <div class="row input-group-company">
                                <div class="col-lg">
                                    <label for="company">Company:</label>
                                    <input formControlName="company" type="text" class="input" placeholder="Company's name"
                                        formControlName="company" required [class.border-danger]="companyValid">
                                    <div *ngIf="company?.errors && company?.touched">
                                        <p *ngIf="company?.hasError('required')" class="error">
                                            Please type Company's name.
                                        </p>
                                        <p *ngIf="company?.errors?.minlength" class="error">
                                            Company's name should have 4 characters or more.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row input-group-date">
                                <div class="col-sm">
                                    <label for="from">From:</label>
                                    <input formControlName="from" type="date" class="input" placeholder=" "
                                        formControlName="from" required [class.border-danger]="companyValid">
                                </div>
                                <div class="col-sm">
                                    <label for="to">to:</label>
                                    <input formControlName="to" type="date" class="input" placeholder=" "
                                        formControlName="to" required [class.border-danger]="companyValid">
                                </div>
                            </div>
                            <div class="row input-group-position ">
                                <div class="col-lg">
                                    <label for="position">Position/Department:</label>
                                    <input formControlName="position" type="text" class="input" placeholder=" "
                                        formControlName="position" required [class.border-danger]="companyValid">
                                </div>
                            </div>
                            <div class="row input-group-description ">
                                <div class="col-lg">
                                    <label for="description">Description:</label>
                                    <input formControlName="description" type="text" class="input" placeholder=" "
                                        formControlName="description" required maxlength="1000" autosize [class.border-danger]="companyValid">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" (click)="isCollapsed = ! isCollapsed"
                    [attr.aria-expanded]="!isCollapsed">Cancel</button>
                <button type="submit" class="btn login-btn" >Save</button>
            </div>
        </div>
        <!--- EXPERIENCES ITEMS --->
    </div>
</section>