section {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.experience .container{
    background-color:  #111111;
    border-radius: 15px; 
}

/*--- SECTION TITLE ---*/
.title {
    color: white;
    text-align: center;
}


/*--- BLUE LINE BETWEEN NAME AND ABOUT ---*/
div.section-title .after:after {
    display:flex; 
    align-items:center;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #1639D6;
    position: relative;
    flex-wrap: nowrap!important;
}

/*------------- FORM --------------*/

/* EXPERIENCE ADD FORM DIV */
.experienceAddForm {
    background: #111111;
    border: 1px solid white;
    border-radius: 15px;
}

.experienceAddForm .form-body {

    display: flex; 
    flex-direction: column; 
}

/* EXPERIENCE ADD FORM TITLE */
.experienceAddForm .form-title {
    text-align: center; 
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

/* EXPERIENCE INPUT GROUP */

.experienceAddForm .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experienceAddForm div .col-lg {
    display:flex; 
    flex-direction: column;
}

.input-group .row .col-lg {
    display:inline-block
}

.input-group {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 55px;
    padding-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group div div input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
    background: #111111;
}

.input-group div div label {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -13px;
}

/* EXPERIENCE ADD FORM  PICTURE */

#logo
{
    display: none;
}

#picture
{
    cursor: pointer;
}

form .row .col-lg-3 .picture {
    display:flex; 
    align-self:center; 
    justify-content: center; 
    margin-top: 10px; 
    margin-bottom: 10px;
    border: none;
    background: #111111;
}

form .row .col-lg-3 .picture img {
    display: block; 
    position:relative;
}

form .row .col-lg-3 .picture img {
    border-bottom-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%; 
    border-top-left-radius: 50%; 
    height: 168px; 
    width: 168px,
}

/* INPUT GROUP COMPANY */

.input-group-company div {
    line-height: 10px;
}

.input-group-company input{
    margin-left: 10px;
    width: 70%;
    color: white;
    align-content: center;
}

/* INPUT GROUP DATE */

.input-group-date input{
    margin-left: 10px;
    width: 55%;
    text-align: center;
    color: white;
    align-content: center;
}

/* INPUT GROUP POSITION */

.input-group-position input{
    margin-left: 10px;
    width: 55%;
    text-align: center;
    color: white;
    align-content: center;
}

/* INPUT GROUP DESCRIPTION */

.input-group-description input{
    margin-left: 10px;
    width: 55%;
    text-align: center;
    color: white;
    align-content: center;
}